div.blog-comment-form {width: 100% !important;}

div.blog-comment .blog-author {
  font-size: 0.85em;
}

.blog-comment-content {
  font-size: 13px;
  overflow: hidden!important;
  padding-top: 0 !important;
}

div.blog-comment-buttons input {
  font-size: 13px !important;
  padding: 0 3px !important;
}

.blog-post-rating {
  padding: 10px 0 0 0;
}

.workarea_wrap {
  padding: 0 !important;
}
.feed-add-post-text {
	padding: 0 !important;
}

.bxhtmled-toolbar-cnt {
	display: none !important;
}

.bxhtmled-area-cnt {
	top: 0px !important;
	height: 83px !important;
	width: 400px !important;
}
.bxhtmled-iframe-cnt {
	height: 83px !important;
	width: 400px !important;
}
.bx-html-editor {
	width: 400px !important;
	min-height: 83px !important;
	height: 82px !important;
}

input.btn:hover {
  color: white !important; 
}